@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #8d58ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

h2 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.title-buffer {
  margin-top: 1em;
}

.TaskWrapper {
  background: #1A1A40;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.TaskForm {
  width: 100%;
  margin-bottom: 1rem;
}

.task-input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  color: #fff;
  display: block;
}

.task-dropdown {
  background:#8d58ff;
  color: #fff;
  margin-bottom: 1rem;
}

.task-dropdown button {
  text-align: center;
  background:#8d58ff;
  color: #fff;
  margin-bottom: 1rem;
}

.group {
  background:#8d58ff;
}

.enabled:hover {
  background:#662ede !important;
}

.dropdown-wrapper button{
  width: 100%;
  margin:0 auto;
  display:block;
}

.task-dropdown button:hover{
  background:#662ede;
}

.dropdown-wrapper button:hover {
  background:#662ede !important;
}

.task-dropdown-item {
  background:#8d58ff;
  color: #fff;

}

.task-input::placeholder {
  color: #ffffff4d;
}

.task-btn {
  margin-top: 1em;
  background: #8d58ff;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Task {
  display: block;
  justify-content: space-between;
  align-items: center;
  background: #8d58ff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.In-Completed {
  color: #fff;
  cursor: pointer;
}

.Completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

#notifications {
  cursor: pointer;
  position: fixed;
  right: 0px;
  z-index: 9999;
  bottom: 0px;
  margin-bottom: 22px;
  margin-right: 15px;
  max-width: 300px;   
}

.High {
  background-color: rgb(230, 52, 52);
  border-radius: 8px;
}

.mandatory-field {
  border-color: red;
  border: solid 0.3em;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}

.mandatory-field {
  border: 1px #ff0000 solid;
  border-radius: 8px;
  animation: blink 1s;
  animation-iteration-count: 3;
}

@keyframes blink { 50% { border-color:#fff ; }  }